fastapi[standard]==0.113.0
pydantic==2.8.0
sqlalchemy==2.0.30
sqlmodel==0.0.16
psycopg2-binary==2.9.9
python-dotenv>=1.0.0
requests>=2.32.0
numpy==1.26.4
asyncpg>=0.29.0
pandas>=2.2.0
python-dateutil>=2.9.0.post0
joblib>=1.4.0
scikit-learn==1.8.0
scikit-learn-extra==0.3.0
rapidfuzz>=3.0.0